#hero-section {
    background-image: url('../images/background/bg-pattern-pink.png');
    background-size: cover;
    height: 850px;
}

#hero-section h1, p {
    margin: 0;
}

#hero-section h1 {
    font-size: 60px;
    font-family: 'HelveticaNeueBold';
    color: #1A1B23;
}

#hero-section p {
    color: #9E9E9E;
    width: 340px;
    display: block;
    margin: 20px auto 20px auto;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

#hero-section .btn.lets-talk-with-us {
    padding: 20px 0px 20px 0px;
    width: 90%;
    margin-top: 15px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

#hero-section .video-thumbnail-img {
    width: 100%;
    height: 270px;
    display: block;
    margin: auto;
    margin-top: 50px;
    object-fit: contain;
}

#hero-section .video-thumbnail-mobile-img {
    display: none;
}

/* Small devices (Mobile S, 250px)  */
@media (min-width: 250px) {
    #hero-section h1 {
        font-size: 40px;
        font-family: 'HelveticaNeueBold';
        color: #1A1B23;
        margin-top: -40px;
    }

    #hero-section {
        background-image: url('../images/background/bg-pattern-pink.png');
        background-size: cover;
        height: 740px;
    }

    #hero-section p {
        color: #9E9E9E;
        width: 260px;
        display: block;
        margin: 20px auto 20px auto;
        line-height: 30px;
        font-weight: bold;
        letter-spacing: 1px;
 
    }

    #hero-section .video-thumbnail-mobile-img {
        max-width: 100%;
        height: 320px;
        display: block;
        margin: auto;
        margin-top: 0px;
        object-fit: contain;
        margin-left: 4%;
        padding-right: 8%;
        
    }

    #hero-section .video-thumbnail-img {
        display: none;
    }
}

/* Small devices (Mobile S, 320px)  */
@media (min-width: 320px) {
    #hero-section h1 {
        font-size: 50px;
        font-family: 'HelveticaNeueBold';
        color: #1A1B23;
        margin-top: -40px;
    }

    #hero-section {
        background-image: url('../images/background/bg-pattern-pink.png');
        background-size: cover;
        height: 840px;
    }

    #hero-section p {
        color: #9E9E9E;
        width: 260px;
        display: block;
        margin: 20px auto 20px auto;
        line-height: 30px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    #hero-section .video-thumbnail-mobile-img {
        max-width: 100%;
        height: 320px;
        display: block;
        margin: auto;
        margin-top: 0px;
        object-fit: contain;
        margin-left: 4%;
        padding-right: 8%;
        
    }

    #hero-section .video-thumbnail-img {
        display: none;
    }
}

/* Mobile M (Mobile, 375px and up)  */
@media (min-width: 375px){
    #hero-section {
        background-image: url('../images/background/bg-pattern-pink.png');
        background-size: cover;
        height: 800px;
    }
    
    #hero-section h1 {
        font-size: 55px;
        font-family: 'HelveticaNeueBold';
        color: #1A1B23;
        margin-top: 0px;
    }

    #hero-section p {
        font-size: 15px;
        color: #9E9E9E;
        width: 340px;
        display: block;
        margin: 20px auto 20px auto;
        line-height: 30px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    #hero-section .video-thumbnail-mobile-img {
        width: 450px;
        height: 100%;
        display: block;
        margin-top: 100px;
        object-fit: contain;
        margin-left: 12%;
        padding-right: 24%;
    }

    #hero-section .video-thumbnail-img {
        display: none;
    }

}

/* Mobile M (Mobile, 425px and up)  */
@media (min-width: 440px) {
    #hero-section {
        background-image: url('../images/background/bg-pattern-pink.png');
        background-size: cover;
        height: 860px;
    }
    
    #hero-section h1 {
        font-size: 55px;
        font-family: 'HelveticaNeueBold';
        color: #1A1B23;
    }

    #hero-section p {
        font-size: 15px;
        color: #9E9E9E;
        width: 340px;
        display: block;
        margin: 20px auto 20px auto;
        line-height: 30px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    #hero-section .video-thumbnail-mobile-img {
        width: 600px;
        height: 100%;
        display: block;
        margin-top: 60px;
        object-fit: contain;
        margin-left: 9%;
        padding-right: 20%;

    }

    #hero-section .video-thumbnail-img {
        display: none;
    }

}

/* Mobile M (Mobile, 460px and up)  */
@media (min-width: 466px) {
    #hero-section {
        background-image: url('../images/background/bg-pattern-pink.png');
        background-size: cover;
        height: 1000px;
    }
    
    #hero-section h1 {
        font-size: 55px;
        font-family: 'HelveticaNeueBold';
        color: #1A1B23;
        margin-top: -10%;
    }

    #hero-section p {
        font-size: 15px;
        color: #9E9E9E;
        width: 340px;
        display: block;
        margin: 20px auto 20px auto;
        line-height: 30px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    #hero-section .video-thumbnail-mobile-img {
        width: 100%;
        height: 450px;
        display: block;
        margin-top: 0px;
        object-fit: contain;
        margin-left: 4%;
        padding-right: 10%;


    }

    #hero-section .video-thumbnail-img {
        display: none;
    }

}


/* Small devices (Mobile L 540px and up)  */
@media (min-width: 500px) {
    #hero-section h1 {
        font-size: 80px;
        font-family: 'HelveticaNeueBold';
        color: #1A1B23;
    }

    #hero-section {
        background-image: url('../images/background/bg-pattern-pink.png');
        background-size: cover;
        height: 1100px;
    }

    #hero-section p {
        color: #9E9E9E;
        width: 350px;
        display: block;
        margin: 20px auto 20px auto;
        line-height: 30px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    #hero-section .video-thumbnail-mobile-img {
        width: 100%;
        height: 450px;
        display: block;
        margin: auto;
        margin-top: 0px;
        object-fit: contain;
        margin-left: 10%;
        padding-right: 18%;
        
    }

    #hero-section .video-thumbnail-img {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    #hero-section {
        background-image: url('../images/background/bg-pattern-pink.png');
        background-size: cover;
        height: 1400px;
    }
    
    #hero-section h1 {
        font-size: 100px;
        font-family: 'HelveticaNeueBold';
        color: #1A1B23;
    }

    #hero-section p {
        font-size: 20px;
        color: #9E9E9E;
        width: 500px;
        display: block;
        margin: 20px auto 20px auto;
        line-height: 30px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    #hero-section .video-thumbnail-mobile-img {
        width: 100%;
        height: 700px;
        display: block;
        margin: auto;
        margin-top: 0px;
        object-fit: contain;
        margin-left: 8%;
    }

    #hero-section .video-thumbnail-img {
        display: none;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #hero-section {
        height: 720px;
    }

    #hero-section h1 {
        font-size: 70px;
        line-height: 76px;
    }

    #hero-section p {
        margin: 20px 0px 20px 0px;
        width: 360px;
        font-size: 16px;
    }

    #hero-section .btn.lets-talk-with-us {
        padding: 20px 30px 20px 30px;
        display: inline-block;
        width: unset;
    }

    #hero-section .video-thumbnail-img {
        height: 450px;
        display: unset;
        margin-top: unset;
    }

    #hero-section .video-thumbnail-mobile-img {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #hero-section {
        height: 820px;
    }
    
    #hero-section .video-thumbnail-img {
        height: 660px;
    }

    #hero-section h1 {
        font-size: 80px;
        line-height: 88px;
    }

    #hero-section p {
        margin: 20px 0px 20px 0px;
        width: 380px;
        line-height: 34px;
        font-size: 17px;
    }

    #hero-section .video-thumbnail-mobile-img {
        display: none;
    }
}