#pricing-section .container {
    margin-top: -60px !important;
    margin-bottom: 0px !important;
}

#pricing-section .pricing-heading {
    font-family: 'HelveticaNeueMedium';
    font-size: 50px;
    padding-top: 0px;
}

#pricing-section .card .card-body-favorite {
    border: 1px solid #FC2B8E;
    background-color: #fffbfd;
    border-radius: 6px;
}

#pricing-section .card {
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    margin: 20px;
}

#pricing-section .card:hover {
    cursor: pointer;
    border: 1px solid #FC2B8E;
    background-color: #fffbfd;
    border-radius: 6px;
}

#pricing-section .btn-slider-pricing-prev:hover {
    cursor: pointer;
    border: 1px solid #FC2B8E;
    background-color: #fffbfd;
}

#pricing-section .btn-slider-pricing-prev:hover .fill {
    fill: #FC2B8E !important;
}

#pricing-section .btn-slider-pricing-next:hover {
    cursor: pointer;
    border: 1px solid #FC2B8E;
    background-color: #fffbfd;
}

#pricing-section .btn-slider-pricing-next:hover .fill {
    fill: #FC2B8E !important;
}

#pricing-section .card .heading {
    font-family: 'HelveticaNeueMedium';
}

#pricing-section .price {
    font-family: 'HelveticaNeueBold';
    font-size: 50px;
    color: #FC7D2B;
}

#pricing-section .desc {
    font-size: 15px;
    color: #9A9A9A;
}

#pricing-section ul {
    padding: 0;
    list-style: none;
}

#pricing-section ul li img {
    vertical-align: middle;
    display: inline-block;
}

#pricing-section ul li span {
    font-size: 15px;
    color: #9A9A9A;
    vertical-align: middle;
    padding-left: 5px;
}

#pricing-section .container-first{
    display: flex;
    align-items: flex-start;
}

#pricing-section .start {
    font-size: 15px;
    font-family: 'HelveticaNeueMedium';
    color: rgb(175, 175, 175);
    letter-spacing: 0.5px;
    margin-top: 16px;
    margin-bottom: -8px;
}

#pricing-section .round-tick{
    margin: 8px 0px 8px 0px;
}

#pricing-section .questions{
    margin-left: -1.6px;
}

/*tooltip*/

#pricing-section .tooltips {
    position: relative;
    display: flex;
  }
  
#pricing-section .tooltips .tooltiptext {
    font-family: "HelveticaNeueMedium";
    visibility: hidden;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.719);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 6px 6px 6px;
    position: absolute;
    z-index: 1;
    bottom: 86%;
    left: 44%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
#pricing-section .tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
#pricing-section .tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  #pricing-section .icon-tooltips{
      width: 25px;
      height: auto;
      margin-left: 10px;
  }

/*end*/

/* Small devices (smallphone, 768px and up)  */
@media (min-width: 375px) {
    #pricing-section .pricing-heading {
        font-family: 'HelveticaNeueMedium';
        font-size: 50px;
        padding-top: 10px;
    }

    #pricing-section .card {
        border: 1px solid #EEEEEE;
        border-radius: 6px;
        margin: auto;
    }
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    #pricing-section .pricing-heading {
        font-family: 'HelveticaNeueMedium';
        font-size: 70px;
        padding-top: 10px;
    }

    #pricing-section .card {
        border: 1px solid #EEEEEE;
        border-radius: 6px;
        margin: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #pricing-section .pricing-heading {
        font-family: 'HelveticaNeueMedium';
        font-size: 60px;
        padding-top: 10px;
    }

    #pricing-section .card {
        border: 1px solid #EEEEEE;
        border-radius: 6px;
        margin: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #pricing-section {
        padding-top: 140px !important;
        margin-bottom: -60px !important;
    }

    #pricing-section .pricing-heading {
        font-family: 'HelveticaNeueMedium';
        font-size: 70px;
        padding-top: 10px;
    }

    #pricing-section .card {
        border: 1px solid #EEEEEE;
        border-radius: 6px;
        margin: auto;
    }
}